@model IEnumerable<Supplier>

@{
    ViewData["Title"] = "Supplier List";
}
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h1>Supplier List</h1>

<!-- Botão para abrir o modal -->
<a class="btn btn-primary" data-toggle="modal" data-target="#forms">Add a new supplier</a>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="forms" tabindex="-1" role="dialog" aria-labelledby="formsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formsLabel">Add New Suplier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulário para adicionar um novo supplier -->
                    <form method="post" action="@Url.Action("Create", "Supplier")">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" required />
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text" class="form-control" id="Email" name="Email" required />
                        </div>

                        <div class="form-group">
							<label for="CNPJ">CNPJ (MAX - 14 Digits)</label>
                            <input type="text" class="form-control" id="CNPJ" name="CNPJ" required maxlength="14" />
                        </div>
                        <div class="form-group">
                            <label for="Address">Address</label>
                            <input type="text" class="form-control" id="Address" name="Address" required />
                        </div>
                        <div class="form-group">
							<label for="ZipCode">ZipCode (MAX - 9 Digits)</label>
                            <input type="text" class="form-control" id="ZipCode" name="ZipCode" required maxlength="9" />
                        </div>
                      
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@* Pesquisas*@
<form method="get" class="form-inline mt-3 mb-3">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="SearchName" name="name" class="form-control ml-2" " value="@ViewData["Name"]" />
    </div>
    <div class="form-group ml-3">
        <label for="CreatedAt">Created At:</label>
        <div style="display: flex; align-items: center;">
            <input type="date" id="CreatedAt" name="createdAt" class="form-control" style="width: 150px; value="@ViewData["CreatedAt"]" />
            <button type="button" class="btn btn-warning ml-2" onclick="clearDate()">Clear</button>
        </div>
    </div>

    <div class="form-group mt-3" style="width: 100%;">
        <button type="submit" ml-3 id="filterButton"  class="btn btn-primary">Filter</button>
        <a href="@Url.Action("Index", "Supplier", new { name = (string)null, createdAt = (DateTime?)null })" class="btn btn-warning ml-1">Clear Filter</a>
        <button type="button" class="btn btn-secondary ml-1" onclick="window.print()">Print</button>
    </div>
</form>

<script>

    function clearDate() {
        document.getElementById('CreatedAt').value = null; // Limpa o campo de data
      
    }
</script>

</script>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Supplier ID</th>
            <th>Name</th>
            <th>Email</th>  
            <th>CNPJ</th>
            <th>Address</th>
            <th>Zip Code</th>
            <th>Created At</th>
            <th>QR Code</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.Id</td>
                <td>@supplier.Name</td>
                <td>@supplier.Email</td> 
                <td>@supplier.CNPJ</td>
                <td>@supplier.Address</td>
                <td>@supplier.ZipCode</td>
                <td>@supplier.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>
                    <!-- QR Code -->
                    <div style="display: flex; flex-direction: column; align-items: start;">
                        <div id="qrcode-@supplier.Id"></div>
                        <div style="margin-top: 10px; text-align: start;">
                            <span>@supplier.QRCode</span>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var qrcode = new QRCode(document.getElementById("qrcode-@supplier.Id"), {
                            text: "@supplier.QRCode", // Texto para o QRCode
                            width: 100,               // Largura do QRCode
                            height: 100,              // Altura do QRCode
                            colorDark: "#000000",    // Cor escura
                            colorLight: "#ffffff",   // Cor clara
                            correctLevel: QRCode.CorrectLevel.H
                        });
                    </script>
                </td>
            </tr>
        }
    </tbody>
</table>
